[run]
source = prometheus_swarm
omit = 
    */tests/*
    */__init__.py
    */__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass

[html]
directory = test-reports/coverage